Repository cloudposse-archives/root.cloudposse.co: changes, and which Atlantis projects are due for each by the changed paths.
All: cloudtrail, users

atlantis.yaml:

version: 2

projects:

- name: "cloudtrail"
  workflow: "make"
  dir: "conf/cloudtrail"
  workspace: "default"
  terraform_version: "v0.11.10"
  autoplan:
    when_modified:
      - "Makefile*"
      - "*.tf"
      - "*.tfvars"
      - ".envrc"
    enabled: true
  apply_requirements:
    - "approved"

- name: "users"
  workflow: "make"
  dir: "conf/users"
  workspace: "default"
  terraform_version: "v0.11.10"
  autoplan:
    when_modified:
      - "Makefile*"
      - "*.tf"
      - "*.tfvars"
      - ".envrc"
    enabled: true
  apply_requirements:
    - "approved"

workflows:
  make:
    plan:
      steps:
        - run: "make reset deps"
        - run: "set -o pipefail; make plan | tfmask | scenery --no-color"
    apply:
      steps:
        - run: "set -o pipefail; make apply | tfmask"

drop smtp
  conf/users/overrides/osterman.tf
Due: none

Update conf/users/README.md
  conf/users/README.md
Due: none

Update conf/users/terraform.tfvars
  conf/users/terraform.tfvars
Due: users

fmt
  conf/users/overrides/aknysh.tf
  conf/users/overrides/josh.tf
  conf/users/overrides/osterman.tf
  conf/users/overrides/solairerove.tf
Due: none

[users] Move user provisioning to atlantis workflow (#54)
  atlantis.yaml
  conf/users/.envrc
  conf/users/Makefile
  conf/users/Makefile.tasks
  conf/users/README.md
  conf/users/aknysh.tf
  conf/users/josh.tf
  conf/users/osterman.tf
  conf/users/overrides/aknysh.tf
  conf/users/overrides/josh.tf
  conf/users/overrides/osterman.tf
  conf/users/overrides/solairerove.tf
  conf/users/solairerove.tf
  conf/users/terraform.tfvars
Due: users

fix overrides
  atlantis.yaml
Due: none

fix overrides (#56)
  atlantis.yaml
Due: none

Add demo user
  conf/users/overrides/demo.tf
Due: none

Demo for Scale
  conf/users/overrides/scaledemo
Due: none

Rename scaledemo to scaledemo.tf
  conf/users/overrides/scaledemo.tf
Due: none

Update scaledemo.tf
  conf/users/overrides/scaledemo.tf
Due: none

Demo for Scale (#57)
  conf/users/overrides/scaledemo.tf
Due: none

Revert "Demo for Scale (#57)"
  conf/users/overrides/scaledemo.tf
Due: none

Revert "Demo for Scale (#57)" (#58)
  conf/users/overrides/scaledemo.tf
Due: none

Create demoforscale.tf
  conf/users/overrides/demoforscale.tf
Due: none

Update demoforscale.tf
  conf/users/overrides/demoforscale.tf
Due: none

Create demoforscale.tf (#59)
  conf/users/overrides/demoforscale.tf
Due: none

Revert "Create demoforscale.tf (#59)"
  conf/users/overrides/demoforscale.tf
Due: none

echo env
  Dockerfile
  conf/users/.envrc
Due: users

Revert "Create demoforscale.tf (#59)" (#60)
  conf/users/overrides/demoforscale.tf
Due: none

debug
  conf/users/.envrc
  conf/users/Makefile.tasks
Due: users

debug
  conf/users/Makefile.tasks
Due: users

Update `atlantis`
  Dockerfile
  LICENSE
  atlantis.yaml
  atlantis/root.yaml
  conf/accounts/terraform.tfvars
  conf/cloudtrail/.envrc
  conf/cloudtrail/terraform.envrc
  conf/ecs/.envrc
  conf/ecs/Makefile.tasks
  conf/ecs/atlantis-repo-config.yaml
  conf/ecs/atlantis.auto.tfvars
  conf/ecs/sns.auto.tfvars
  conf/ecs/terraform.envrc
  conf/users/.envrc
  conf/users/terraform.envrc
  conf/users/terraform.tfvars
  docs/targets.md
Due: cloudtrail, users

Add renovate.json
  renovate.json
Due: none
